In [93]:
#Author: Samriddha KC 
#Project: Reccomender System project for a publishing company 
# Import all the required packages. 
import string
import umap.umap_ as umap
import pandas as pd 
import pickle 
import numpy as np
import re 
import random
import sklearn
from numpy import linalg
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import pairwise_kernels
from sklearn.metrics.pairwise import cosine_similarity
import sqlite3
from sklearn.metrics.pairwise import linear_kernel
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import nltk
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
# Use sqlite3 library to establish connection with the .db file 
conn = sqlite3.connect("/Users/samriddhakc/Desktop/publishing_data.db")

In [3]:
# Create a data frame with all posts
allposts_df=pd.read_sql("select * from posts;", conn)

In [4]:
allposts_df.head(5)

,Unnamed: 0,id,headline,snippets,lead_paragraphs,published_at,updated_at,doc_id,keyword_id,author_id
0,0,0,Ravens Outlast 49ers With a Strong Finishing Kick,Quarterback Lamar Jackson converted two critic...,BALTIMORE — The most difficult task in sports ...,2019-04-19,2019-11-08,0,3396,0
1,1,1,Irish Ex-Soldier Who Married ISIS Fighter Is A...,"Lisa Smith, 38, and her 2-year-old daughter we...",DUBLIN — A former Irish soldier who converted ...,2019-12-01,2020-07-10,0,"[1315, 1436, 2998]",1
2,2,2,Plunge in 3 Hong Kong Stocks Offers a Cautiona...,The sudden drops raise fresh questions about c...,HONG KONG — Even by the standards of Hong Kong...,2019-03-16,2019-12-01,0,"[1325, 827, 1436, 1639, 2486]",2
3,3,3,Did ‘The Irishman’ Take a Bite Out of the Than...,This year’s holiday weekend saw a 16 percent d...,LOS ANGELES — Theaters had a more meager Thank...,2019-12-01,2019-12-01,0,"[3201, 130]",3
4,4,4,Have You Ever Tried to Make Money Online?,Do you see the internet as a way to earn extra...,The internet seems to offer plenty of opportun...,2019-12-02,2019-12-02,0,[],4

In [5]:
# Create a data frame to check out the first few sections in the table to better understand the data. 
documenttypes_df=pd.read_sql("select * from doc_types limit 5;", conn)

In [6]:
# Print the first five rows of the dataset. 
allposts_df.head(5)

,Unnamed: 0,id,headline,snippets,lead_paragraphs,published_at,updated_at,doc_id,keyword_id,author_id
0,0,0,Ravens Outlast 49ers With a Strong Finishing Kick,Quarterback Lamar Jackson converted two critic...,BALTIMORE — The most difficult task in sports ...,2019-04-19,2019-11-08,0,3396,0
1,1,1,Irish Ex-Soldier Who Married ISIS Fighter Is A...,"Lisa Smith, 38, and her 2-year-old daughter we...",DUBLIN — A former Irish soldier who converted ...,2019-12-01,2020-07-10,0,"[1315, 1436, 2998]",1
2,2,2,Plunge in 3 Hong Kong Stocks Offers a Cautiona...,The sudden drops raise fresh questions about c...,HONG KONG — Even by the standards of Hong Kong...,2019-03-16,2019-12-01,0,"[1325, 827, 1436, 1639, 2486]",2
3,3,3,Did ‘The Irishman’ Take a Bite Out of the Than...,This year’s holiday weekend saw a 16 percent d...,LOS ANGELES — Theaters had a more meager Thank...,2019-12-01,2019-12-01,0,"[3201, 130]",3
4,4,4,Have You Ever Tried to Make Money Online?,Do you see the internet as a way to earn extra...,The internet seems to offer plenty of opportun...,2019-12-02,2019-12-02,0,[],4

In [7]:
# Check what 0 and 1's mean on the doc_id 
documenttypes_df

   id    doc_type
0   0     article
1   1  multimedia

In [8]:
# Filter out just the news articles out of all the posts as some of them also contain multimedia. 
allposts_df.loc[allposts_df['doc_id']==0]

,Unnamed: 0,id,headline,snippets,lead_paragraphs,published_at,updated_at,doc_id,keyword_id,author_id
0,0,0,Ravens Outlast 49ers With a Strong Finishing Kick,Quarterback Lamar Jackson converted two critic...,BALTIMORE — The most difficult task in sports ...,2019-04-19,2019-11-08,0,3396,0
1,1,1,Irish Ex-Soldier Who Married ISIS Fighter Is A...,"Lisa Smith, 38, and her 2-year-old daughter we...",DUBLIN — A former Irish soldier who converted ...,2019-12-01,2020-07-10,0,"[1315, 1436, 2998]",1
2,2,2,Plunge in 3 Hong Kong Stocks Offers a Cautiona...,The sudden drops raise fresh questions about c...,HONG KONG — Even by the standards of Hong Kong...,2019-03-16,2019-12-01,0,"[1325, 827, 1436, 1639, 2486]",2
3,3,3,Did ‘The Irishman’ Take a Bite Out of the Than...,This year’s holiday weekend saw a 16 percent d...,LOS ANGELES — Theaters had a more meager Thank...,2019-12-01,2019-12-01,0,"[3201, 130]",3
4,4,4,Have You Ever Tried to Make Money Online?,Do you see the internet as a way to earn extra...,The internet seems to offer plenty of opportun...,2019-12-02,2019-12-02,0,[],4
5,5,5,‘I Wanted to Die:’ Northern Ireland Confronts ...,"Haunted by a violent past, the territory has o...","LURGAN, Northern Ireland — On a cold February ...",2019-12-01,2020-06-10,0,"[1424, 2947, 2941, 2520, 1315, 3237]",5
6,6,6,Snow and Sleet Cause Havoc for Travelers,"The morning commute will be cold and rainy, wi...",[Update: Get the latest information on weather...,2018-12-04,2019-12-01,0,"[3430, 2989]",6
7,7,7,"Holiday Travel, AIDS, Sea Snakes: Your Weekend...",Here’s what you need to know about the week’s ...,(Want to get this briefing by email? Here’s th...,2019-12-01,2019-12-01,0,[],"[7, 8]"
8,8,8,Melania Trump Reveals Christmas Décor but Stay...,"What you can see, and what you can’t see, in t...",You know the holiday season has officially beg...,2019-01-28,2019-12-02,0,"[2519, 3069, 787, 2815, 2261, 1857]",9
9,9,9,"Sidelined for Months, Judiciary Panel Will Rec...",The House Judiciary Committee had been leading...,"This spring, as President Trump defiantly reje...",2019-12-01,2020-05-15,0,"[3182, 852, 1523, 2955]",10
11,11,11,Oshkosh Shooting Is Second in 2 Days at Wiscon...,A student with an “edged weapon” was shot by a...,"For the second time in two days in Wisconsin, ...",2019-12-03,2019-12-03,0,3021,12
12,12,12,The Overlooked Undocumented Immigrants: From I...,President Trump has focused on blocking unauth...,"SUNNYVALE, Calif. — Eddie Oh, an industrial en...",2019-12-01,2020-04-04,0,"[1283, 2521, 3245, 1155, 1867]",13
13,13,13,We No Longer Expect Privacy. You Can Change That.,Here’s a way for you to make a difference.,"Since the start of the Privacy Project, the mo...",2019-12-03,2019-12-03,0,"[1615, 892, 1745, 3190, 2604]",14
14,14,14,"Uighurs, China Trade, NATO: Your Wednesday Bri...",Here’s what you need to know.,(Want to get this briefing by email? Here’s th...,2019-02-27,2019-02-27,0,[],15
15,15,15,Did an Ethics Commission Leak Private Informat...,"An alleged leak to Mr. Cuomo, a phone call fro...",The text messages arrived on a snowy January a...,2019-12-02,2019-12-02,0,"[3328, 1436, 3418]",16
16,16,16,Iran Used Firearms in Deadly Crackdown on Prot...,The government said security forces had fought...,Two weeks after protests gripped Iran — and qu...,2019-12-03,2019-12-03,0,"[1436, 1144, 2911, 822]","[17, 18]"
18,18,18,"Lil Bub, Pioneer in Internet-Famous Cats, Dies...","The cat, with a droopy-tongued face that endea...","Lil Bub, the perma-kitten whose droopy tongue ...",2018-12-11,2018-12-11,0,"[1202, 358, 1745]",21
19,19,19,The One Assignment for Everyone at The Times: ...,Employees from across the company have long he...,Times Insider explains who we are and what we ...,2019-12-03,2019-12-03,0,307,11
21,21,21,"Uighurs, China Trade, NATO: Your Wednesday Bri...",Here’s what you need to know.,(Want to get this briefing by email? Here’s th...,2019-12-03,2019-12-03,0,[],15
22,22,22,Did an Ethics Commission Leak Private Informat...,"An alleged leak to Mr. Cuomo, a phone call fro...",The text messages arrived on a snowy January a...,2019-12-02,2019-12-02,0,"[3328, 1436, 3418]",16
24,24,24,Cory Booker Bets $100 Billion on Historically ...,The senator unveiled a broad plan at a decisiv...,Senator Cory Booker of New Jersey on Tuesday p...,2019-01-24,2019-12-03,0,"[2955, 1953, 717, 1755, 2828]",22
25,25,25,Trump Says U.S. Will Impose Metal Tariffs on B...,"The president, in a move that would shatter pr...",WASHINGTON — President Trump said on Monday th...,2018-12-29,2019-12-02,0,"[886, 192, 1338, 7, 2077, 1754, 1764]",23
26,26,26,"Shelley Morrison, ‘Will & Grace’ Actress, Dies...",Ms. Morrison’s portrayal of the memorable maid...,"Shelley Morrison, whose 64-year acting career ...",2019-12-02,2019-12-02,0,"[3045, 764, 3446]",21
27,27,27,White House Lifts Mysterious Hold on Military ...,The Trump administration will allow the $105 m...,WASHINGTON — The Trump administration told Con...,2019-12-03,2019-12-03,0,"[2635, 3185, 3182, 192]","[24, 25]"
28,28,28,London Bridge Attack Victims Were Advocates fo...,"Saskia Jones and Jack Merritt, who were killed...","LONDON — They were two bright, idealistic youn...",2019-01-07,2019-01-07,0,"[2590, 1315, 3315, 1933, 2555]",18
29,29,29,"Dead Whale, 220 Pounds of Debris Inside, Is a ...",The sperm whale washed up on a Scottish beach ...,A dead sperm whale that washed up on a Scottis...,2019-12-02,2019-12-02,0,"[66, 3036, 3308]",26
30,30,30,‘Incredible Story of Survival’: Woman Rescued ...,Tire tracks and a note helped lead to a water ...,"SYDNEY, Australia — The three Australians told...",2019-12-02,2019-12-02,0,"[1210, 526]",27
31,31,31,The Crisis in Youth Suicide,"Too often, suicide attempts and deaths by suic...",The death of a child is most parents’ worst ni...,2019-12-02,2019-12-02,0,"[3237, 1424, 3322, 980, 2947]",28
32,32,32,We No Longer Expect Privacy. You Can Change That.,Here’s a way for you to make a difference.,"Since the start of the Privacy Project, the mo...",2019-12-03,2019-12-03,0,"[1615, 892, 1745, 3190, 2604]",14
33,33,33,Georgetown Loses a Player Accused of Threats,"A woman, a fellow student, obtained a restrain...","A Georgetown men’s basketball player, Josh LeB...",2019-12-03,2019-12-03,0,1744,29
...,...,...,...,...,...,...,...,...,...,...
65864,65864,65864,A Reporter’s Cry on Live TV: ‘I’m Getting Shot...,From a television crew assaulted by protesters...,"Linda Tirado, a freelance photographer, activi...",2019-07-01,2020-05-31,0,"[2456, 1144, 1125]",521
65865,65865,65865,Record Ratings and Record Chaos on Cable News,"Cable networks are facing threats, and opportu...","Last week, Fox News’s anchors competed for Pre...",2020-05-31,2020-05-31,0,"[2456, 2360]",3153
65866,65866,65866,Michigan Sheriff Took Off His Helmet and March...,Sheriff Christopher R. Swanson of Genesee Coun...,Sheriff Christopher R. Swanson of Genesee Coun...,2020-06-01,2020-06-01,0,"[1125, 2212, 1144]",105
65867,65867,65867,Corporate Voices Get Behind ‘Black Lives Matte...,"Major companies are often wary of conflict, es...",As tensions flared around the country after Ge...,2020-05-31,2020-05-31,0,"[2706, 238, 358, 3277, 1125, 1545, 2250]",588
65869,65869,65869,Target Temporarily Closing or Shortening Hours...,The company said it acted to ensure employees’...,Target is temporarily closing or shortening th...,2019-07-07,2019-07-07,0,"[1144, 1125, 2681, 3231]",1098
65870,65870,65870,Mexico’s President Says Most Domestic Violence...,The leader compared the requests for help to p...,"The numbers were startling: In March, Mexico’s...",2019-10-23,2019-10-23,0,"[2711, 792, 3073, 790]",718
65871,65871,65871,Astronauts Dock With Space Station After Histo...,Bob Behnken and Doug Hurley could stay in orbi...,The Crew Dragon has arrived.,2019-07-06,2020-01-10,0,"[2717, 2289, 55]",237
65872,65872,65872,Alicia Silverstone Wants Us to Eat Our Fruits ...,From ’90s “It” girl to animal-rights advocate ...,“There were people in my life at onetime that ...,2020-05-31,2020-05-31,0,"[764, 3201, 2763, 2861, 1499]",537
65873,65873,65873,A Hand on Your Shoulder,Erik Agard starts off our solving week with a ...,MONDAY PUZZLE — It’s not unusual to wake up on...,2020-01-12,2020-05-31,0,271,147
65874,65874,65874,Building a New Sanctuary on Long Island for Cu...,"In Sag Harbor, April Gornik and Eric Fischl ar...",This article is part of our latest Design spec...,2020-05-31,2020-05-31,0,"[2630, 379, 287]",5936
65875,65875,65875,Western Countries Leave Children of ISIS in Sy...,The children are living in squalid detention c...,"BEIRUT, Lebanon — As about 900 children langui...",2019-06-19,2020-05-31,0,"[2998, 1315, 1436, 1347, 3073]","[1044, 1448]"
65876,65876,65876,Your Décor Is Ready for Checkout,The pandemic is pushing interior design consul...,This article is part of our latest Design spec...,2019-06-07,2020-05-31,0,"[190, 306, 1218, 2681, 1858, 2480, 1063]",128
65877,65877,65877,Sing Duets Over the Internet,"Even if you’re not a pro, you can still record...",People love singing together at the best of ti...,2020-05-31,2020-05-31,0,"[1858, 1954, 770]",249
65878,65878,65878,Symbol of N.Y.C. Unrest: A Burning Police Car,"So far, 47 police vehicles have been damaged. ...",On Friday night in the Fort Greene section of ...,2019-08-17,2019-08-17,0,"[1144, 1125, 2379, 2706, 1960]","[71, 212]"
65879,65879,65879,The Drive-In Theater: Keeping Drama Alive Duri...,Czech theater companies couldn’t perform onsta...,"Patrick Kingsley, an international corresponde...",2020-05-31,2020-05-31,0,"[566, 334, 983]","[540, 541]"
65880,65880,65880,These Times Call for Stephen Petronio’s Coiled...,The choreographer took to YouTube to present “...,"Oh, the thrill of a world premiere by a major ...",2020-02-19,2020-02-19,0,276,503
65881,65881,65881,"In Seeking to Hold Michigan, Trump Can Be His ...",The state provides a case study in how the pre...,WASHINGTON — A day before his visit in May to ...,2019-03-06,2019-03-06,0,"[2955, 3182, 2943, 725, 566, 334]","[135, 3346]"
65882,65882,65882,Truck Driver Arrested After Barreling Through ...,"The authorities said no one had been struck, b...",MINNEAPOLIS — A man drove a tanker truck towar...,2020-06-01,2020-06-01,0,1144,"[713, 522]"
65884,65884,65884,Symbol of N.Y.C. Unrest: A Burning Police Car,"So far, 47 police vehicles have been damaged. ...",On Friday night in the Fort Greene section of ...,2019-09-14,2019-09-14,0,"[1144, 1125, 2379, 2706, 1960]","[71, 212]"
65885,65885,65885,Your Monday Briefing,"U.S. protests, Hong Kong, SpaceX: Here’s what ...",Cities across the U.S. were smoldering on Sund...,2020-04-09,2020-05-31,0,[],3075
65886,65886,65886,Two Crises Convulse a Nation: A Pandemic and P...,Emotions were already raw over the toll of a p...,They are parallel plagues ravaging America: Th...,2019-08-20,2020-02-25,0,"[2212, 566, 238, 2706]","[1184, 2756]"
65887,65887,65887,"In Hong Kong, China Threatens Businesses and W...",Beijing is using fear and pressure to drum up ...,HONG KONG — China and its allies are using thr...,2020-05-31,2020-05-31,0,"[1436, 2184, 246, 1144, 2893, 1767, 2408, 878]",2
65888,65888,65888,Tara Reade’s Tumultuous Journey to the 2020 Ca...,"To better understand Ms. Reade, who accused Jo...","Last spring, after years of strife with friend...",2020-05-31,2020-05-31,0,"[2569, 2955, 220, 2850, 941]","[3921, 654, 51]"
65889,65889,65889,A Village Ignored by the Coronavirus,"Far from Covid-19 hot spots, my neighbors and ...","VIALAS, France — I’m spending the coronavirus ...",2020-06-01,2020-06-01,0,"[566, 334]",3081
65890,65890,65890,What Trump and Toxic Cops Have in Common,It’s us versus them.,"In his first Inaugural Address, and hopefully ...",2019-08-23,2019-08-23,0,"[2955, 1125, 1144]",2126
65891,65891,65891,"Grateful for Aid, but Worried About What Comes...",Six small-business owners who got government l...,"The Paycheck Protection Program, the federal g...",2020-05-31,2020-05-31,0,"[2943, 1925, 1272, 566, 780, 3231, 2829, 1764]",84
65892,65892,65892,Two Lawyers Arrested in Molotov Cocktail Attac...,A Princeton graduate and a human rights lawyer...,Two lawyers were charged with taking part in a...,2019-12-21,2019-12-21,0,"[1144, 2379]","[374, 578]"
65893,65893,65893,"Despite Warnings, Races Continue at a N. Carol...","At the direction of Gov. Roy Cooper, a county ...",A card with at least seven races and qualifyin...,2020-05-31,2020-05-31,0,887,284
65894,65894,65894,"Herb Stempel, Quiz Show Whistle-Blower, Is Dea...",After being instructed to give a wrong answer ...,"In the isolation booth, Herb Stempel bit his l...",2020-02-17,2020-05-31,0,"[3045, 3446, 888, 3349]",615
65895,65895,65895,"Christo, Artist Who Wrapped and Festooned on a...","Mountains, museums, bridges and Central Park w...","Christo, the Bulgarian-born conceptual artist ...",2020-05-31,2020-05-31,0,"[379, 3045]",80

In [9]:
# Drop published_at, updated_at, author_id and Unamed:0 because we do not have sufficent 
# information to conclude that they affect the "werdiness" of the document in any particular way. 
# Also, you can also drop doc_id because it has been already usedto filter the articles and serve no further purpose. 
allposts_df=allposts_df[['id','headline','snippets','lead_paragraphs','keyword_id']]

In [10]:
allkeywords_df=pd.read_sql("select * from keywords;", conn)

In [11]:
def custom_count(row): 
    return len(row.keyword_id.split(','))

In [12]:
# Brute Force Method 1: Sort by number of keywords 
# Problem: Does not take into account the relevance of each key word and considers all of them to be the same
# Also, ignores the headline, snippets, and lead_paragraphs which might potentially have important information.
sort_by_keywordcountDF=allposts_df[['id','keyword_id']]
sort_by_keywordcountDF['keyword_count']=sort_by_keywordcountDF.apply(lambda row:custom_count(row),axis=1)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [13]:
keywordcount_ID=list(sort_by_keywordcountDF.sort_values(by=['keyword_count'])['id'])

In [14]:
# Gives top n weird posts based on the count of key word. 
def weird_n_keywordcount(keywordcount_ID,n): 
    return keywordcount_ID[len(keywordcount_ID)-n:]

In [15]:
weird_n_keywordcount(keywordcount_ID,10)

[20368, 18603, 2564, 58590, 58492, 58530, 58504, 23271, 57336, 57317]

In [16]:
# Method 2. 
# Step 0: Combine all columns to make headline,snippets,lead_paragraphs to make a single text column with all the texts.
# Step 1: Preprocess the data to take out relevant words(stop words in english) 
# Step 3: Train a Count vectorizer with the vocabulary as the keywords list.
# Step 4: Transform the "text" column with the vectorizer. 
# Step 5: Use cosine similarity(inverse of consine similarity) to measure the difference between the vectors.
# Step 6: Pick n weird posts by taking out top n posts with highest sine disimilarity.
'''This is an improvement to Method 1 because instead of just counting from key words we are looking at count from  all the 
seen words in the documents and measuting their similarity.'''

In [17]:
# There is a biased suppostion that all three categories contribute equally to the weirdness. According to the comapny's 
# needs and data, this should be adjusted by doign. weighted average. 
allposts_df["text"]=allposts_df["headline"]+" "+allposts_df["snippets"]+" "+allposts_df["snippets"]
allposts_df["text"]=allposts_df["text"].fillna('')

In [18]:
all_text_list=list(allposts_df["text"])
all_vocabulary=list(allkeywords_df["keyword"])

In [19]:
stopwordlist = ['a', 'about', 'above', 'after', 'again', 'ain', 'all', 'am', 'an',
             'and','any','are', 'as', 'at', 'be', 'because', 'been', 'before',
             'being', 'below', 'between','both', 'by', 'can', 'd', 'did', 'do',
             'does', 'doing', 'down', 'during', 'each','few', 'for', 'from', 
             'further', 'had', 'has', 'have', 'having', 'he', 'her', 'here',
             'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in',
             'into','is', 'it', 'its', 'itself', 'just', 'll', 'm', 'ma',
             'me', 'more', 'most','my', 'myself', 'now', 'o', 'of', 'on', 'once',
             'only', 'or', 'other', 'our', 'ours','ourselves', 'out', 'own', 're',
             's', 'same', 'she', "shes", 'should', "shouldve",'so', 'some', 'such',
             't', 'than', 'that', "thatll", 'the', 'their', 'theirs', 'them',
             'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 
             'through', 'to', 'too','under', 'until', 'up', 've', 'very', 'was',
             'we', 'were', 'what', 'when', 'where','which','while', 'who', 'whom',
             'why', 'will', 'with', 'won', 'y', 'you', "youd","youll", "youre",
             "youve", 'your', 'yours', 'yourself', 'yourselves']
def preprocess_text(texts): 
    processedData=[]
    wordLemm=WordNetLemmatizer()
    space_pattern="[\s]+"   
    word_pattern=r"[0-9]+"
    for text in texts:
        text=re.sub(word_pattern,' ',text)
        text=re.sub(space_pattern,' ',text)
        text=text.lower()
        for c in string.punctuation: 
            text=text.replace(c,"")
        filtered_text=""
        '''for word in text.split(' '): 
            if len(word)>1 and word not in stopwordlist: 
                word=wordLemm.lemmatize(word)
                filtered_text+=word+' '''
        processedData.append(text)
    return processedData

In [20]:
texts=["My     name IS 5086 samriddha?!!!!!!","MY NAME IS RABINA"]

In [21]:
preprocess_text(texts)

['my name is samriddha', 'my name is rabina']

In [22]:
processed_text_list=preprocess_text(all_text_list)

In [75]:
count_vectorizer=CountVectorizer(ngram_range=(1,2),max_features=3500,stop_words="english")

In [76]:
count_vectorizer.fit(processed_text_list)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=3500, min_df=1,
        ngram_range=(1, 2), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [78]:
index=np.arange(len(processed_text_list))
count_vectorized_texts=vectorizer.fit_transform(processed_text_list)

In [80]:
count_array_texts=count_vectorized_texts.toarray()

In [90]:
count_array_texts.shape

(65896, 3500)

In [81]:
count_cosine_sim=[]
for article_idx in range(len(np_array_texts)):
    current_element=count_array_texts[article_idx]
    current_element=np.vstack((current_element,np.zeros(len(current_element))))
    current_sample_idexes=random.sample(range(len(count_array_texts)), 100)
    current_sample=np_array_texts[current_sample_idexes]
    count_cosine_sim.append(np.sum(cosine_similarity(current_element,current_sample),axis=1)[0])

In [82]:
def prin_top_n(score_lis,n): 
    for key,value in score_lis[:n]: 
        print (allposts_df.iloc[key]['headline'])

In [84]:
countvec_score_lis=[[key,value] for key,value in enumerate(count_cosine_sim)]
countvec_score_lis.sort(key=lambda x:x[1])
prin_top_n(countvec_score_lis,10)

Steelers Cling to Playoff Hopes, the Browns to the Idea of a Rivalry
The Week in Business: The King of Luxury Just Got Even Richer
Amazon Removes Holiday Ornaments With Images of Auschwitz After Criticism
What Rappers Wore to the Genius Barbecue Concert in Brooklyn
Amazon Removes Holiday Ornaments With Images of Auschwitz After Criticism
Took to One’s Heels
How to Bake the Perfect Madeleine
Jennifer Lopez, Awkwafina and Adam Driver at the Gotham Awards
Your Mom Is Wrong: Your Vegetarian Diet Did Not Cause Cancer
Took to One’s Heels

In [23]:
# Step 3: Train a Tfidf vectorizer with the vocabulary as the keywords list.
'''This is an improvement to Method 2 because on top of taking consideration of counts, this also takes into consideration the 
rarity of words which makes seprating the weird articles more convinient'''
vectorizer=TfidfVectorizer(ngram_range=(1,2),max_features=3500,stop_words="english")

In [24]:
vectorizer.fit(processed_text_list)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=3500, min_df=1,
        ngram_range=(1, 2), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [25]:
index=np.arange(len(processed_text_list))
vectorized_texts=vectorizer.fit_transform(processed_text_list)

In [26]:
np_array_texts=vectorized_texts.toarray()

In [156]:
cosine_sim=[]
for article_idx in range(len(np_array_texts)):
    current_element=np_array_texts[article_idx]
    current_element=np.vstack((current_element,np.zeros(len(current_element)))) 
    current_sample_idexes=random.sample(range(len(np_array_texts)),100)
    current_sample=np_array_texts[current_sample_idexes]
    cosine_sim.append(np.sum(cosine_similarity(current_element,current_sample),axis=1)[0])

In [40]:
cosine_sim_2=[]
for article_idx in range(len(np_array_texts)):
    current_element=np_array_texts[article_idx]
    current_element=np.vstack((current_element,np.zeros(len(current_element))))
    current_sample_idexes=random.sample(range(len(np_array_texts)),1000)
    current_sample=np_array_texts[current_sample_idexes]
    cosine_sim_2.append(np.sum(cosine_similarity(current_element,current_sample),axis=1)[0])

In [41]:
new_copy=cosine_sim_2

In [65]:
new_copy_2=cosine_sim

In [44]:
with open('cosine_sim_2.pkl', 'wb') as f:
    pickle.dump(cosine_sim_2, f)

In [157]:
score_lis_100=[[key,value] for key,value in enumerate(cosine_sim)]

In [158]:
score_lis_100.sort(key=lambda x:x[1])

In [159]:
prin_top_n(score_lis_100,10)

Are Liberals Against Marriage?
The Week in Business: The King of Luxury Just Got Even Richer
What Rappers Wore to the Genius Barbecue Concert in Brooklyn
The Beauty Myth for Boys
The Beauty Myth for Boys
Why We Can’t Stop Watching the George and Kellyanne Conway Show
‘The Crying Book’ Follows the Many Tracks of Our Tears
How to Pluck a Feather
How to Tip at the Holidays, According to Doormen, and Nannies, and Weed Guys, and…
Lawsuit Against Luke Walton Is Dropped

In [95]:
score_lis_1000=[[key,value] for key,value in enumerate(cosine_sim_2)]
score_lis_1000.sort(key=lambda x:x[1])

In [96]:
prin_top_n(score_lis_1000,10)

The Week in Business: The King of Luxury Just Got Even Richer
The Week in Business: Uber’s Sexual Assault Problem
The Week in Business: Striking Deals Left and Right
The Week in Business: Striking Deals Left and Right
The Week in Business: Hip, Hip Hooray for Your 401(k)
The Week in Business: Amazon Won Christmas
The Week in Business: Amazon Won Christmas
The Week in Business: Coronavirus Hits the World Economy
The Week in Business: Coronavirus Could Complicate Everything
The Week in Business: Coronavirus Could Complicate Everything

In [97]:
for key,value in new_lis_2[::-1][:20]:
     print (allposts_df.iloc[key]['headline'])

Coronavirus in Japan, New York Hospitals, Maduro Indictment: Your Friday Briefing
Veterans Day, E.P.A., Hong Kong: Your Monday Evening Briefing
Coronavirus in Japan, New York Hospitals, Maduro Indictment: Your Friday Briefing
Impeachment, Israel, Phoebe Waller-Bridge: Your Friday Briefing
Your Monday Briefing
Coronavirus, Japan’s Economy, Uighurs: Your Tuesday Briefing
Coronavirus, Markets, Expelled Journalists: Your Thursday Briefing
Coronavirus, Remembering Christchurch, Israel Elections: Your Monday Briefing
Just 700 Speak This Language (50 in the Same Brooklyn Building)
China, Joe Biden, Kennedy Family: Your Friday Briefing
Coronavirus, Masks, Jobs: Your Friday Briefing
Israel, Coronavirus, Huawei: Your Wednesday Briefing
260,000 Words, Full of Self-Praise, From Trump on the Virus
Impeachment, Germany, Huawei: Your Friday Briefing
Impeachment, California, Robert Evans: Your Tuesday Briefing
Your Friday Briefing
Impeachment, Deval Patrick, Venice Flooding: Your Thursday Briefing
Coronavirus, China’s Economy, Indian Police: Your Friday Briefing
Coronavirus, Boris Johnson, Easter Sunday: Your Monday Briefing
Coronavirus, Oil, Earth Day: Your Wednesday Briefing

In [116]:
# Model Evaluation.
def evaluate(arr,indexes): 
    return np.sum(cosine_similarity(arr[indexes]))

In [106]:
# Evaluate Count Vectorizer with a random sample size of 100 with the top 20 most similar(not weird) and 
# top 20 weird(different) articles. 
count_top_20=[idx for idx, value in countvec_score_lis[:20]]
count_bottom_20=[idx for idx, value in countvec_score_lis[len(countvec_score_lis)-20:]]

In [121]:
# This is expected result and we know this model worked as expected as the bottom 20 has more similarity than the top 20/.
evaluate(count_array_texts,count_top_20),evaluate(count_array_texts,count_bottom_20)

(25.759203574789662, 250.90556904365687)

In [160]:
# Evaluate Tf-Idf Vectorizer with a random sample size of 100 with the top 20 most similar(not weird) and 
# top 20 weird(different) articles. 
tfidf_top_20=[idx for idx, value in score_lis_100[:20]]
tfidf_bottom_20=[idx for idx,value in score_lis_100[len(score_lis_100)-20:]]

In [162]:
# This is expected result and we know this model worked as expected as the bottom 20 has more similarity than the top 20/.
# Even though, this does not clearly beat the CountVectorizer, note this is just for a random sample of 100 in our method. 
# With the increase in this size, Tf-idf should do the trick. 
evaluate(np_array_texts,tfidf_top_20),evaluate(np_array_texts,tfidf_bottom_20)

(26.19055694527579, 211.53515378507785)

In [149]:
tfidf_top_20_1000=[idx for idx, value in score_lis_1000[:20]]
tfidf_bottom_20_1000=[idx for idx,value in score_lis_1000[len(score_lis_1000)-20:]]

In [153]:
# This is expected result and we know this model worked as expected as the bottom 20 has more similarity than the top 20/.
# Further, note it brings better result compared to the previous cases as the articles from the top from this model are 
# not similar at all. with (1<25 & 1<26)
evaluate(np_array_texts,tfidf_top_20_1000),evaluate(np_array_texts,tfidf_bottom_20_1000)

(1.0, 208.20911672642143)

In [182]:
# Export Model 
original_df=pd.read_sql("select * from posts;", conn)
original_df['score']=new_copy
original_df.to_pickle("./original_df.pkl")

In [183]:
# Future Work. 
# * For the next step, I plan to explore the possbility of using Word2Vec and any RNN based framework on this. 
# * However, because those methods are more memory intensive, and for such a large corpus of document, I am still 
#  figuring out if word2vec is required at all here.

In [184]:
original_df

,Unnamed: 0,id,headline,snippets,lead_paragraphs,published_at,updated_at,doc_id,keyword_id,author_id,score
0,0,0,Ravens Outlast 49ers With a Strong Finishing Kick,Quarterback Lamar Jackson converted two critic...,BALTIMORE — The most difficult task in sports ...,2019-04-19,2019-11-08,0,3396,0,3.982230
1,1,1,Irish Ex-Soldier Who Married ISIS Fighter Is A...,"Lisa Smith, 38, and her 2-year-old daughter we...",DUBLIN — A former Irish soldier who converted ...,2019-12-01,2020-07-10,0,"[1315, 1436, 2998]",1,2.506007
2,2,2,Plunge in 3 Hong Kong Stocks Offers a Cautiona...,The sudden drops raise fresh questions about c...,HONG KONG — Even by the standards of Hong Kong...,2019-03-16,2019-12-01,0,"[1325, 827, 1436, 1639, 2486]",2,3.895389
3,3,3,Did ‘The Irishman’ Take a Bite Out of the Than...,This year’s holiday weekend saw a 16 percent d...,LOS ANGELES — Theaters had a more meager Thank...,2019-12-01,2019-12-01,0,"[3201, 130]",3,6.205419
4,4,4,Have You Ever Tried to Make Money Online?,Do you see the internet as a way to earn extra...,The internet seems to offer plenty of opportun...,2019-12-02,2019-12-02,0,[],4,4.456285
5,5,5,‘I Wanted to Die:’ Northern Ireland Confronts ...,"Haunted by a violent past, the territory has o...","LURGAN, Northern Ireland — On a cold February ...",2019-12-01,2020-06-10,0,"[1424, 2947, 2941, 2520, 1315, 3237]",5,4.642089
6,6,6,Snow and Sleet Cause Havoc for Travelers,"The morning commute will be cold and rainy, wi...",[Update: Get the latest information on weather...,2018-12-04,2019-12-01,0,"[3430, 2989]",6,2.796791
7,7,7,"Holiday Travel, AIDS, Sea Snakes: Your Weekend...",Here’s what you need to know about the week’s ...,(Want to get this briefing by email? Here’s th...,2019-12-01,2019-12-01,0,[],"[7, 8]",15.590757
8,8,8,Melania Trump Reveals Christmas Décor but Stay...,"What you can see, and what you can’t see, in t...",You know the holiday season has officially beg...,2019-01-28,2019-12-02,0,"[2519, 3069, 787, 2815, 2261, 1857]",9,6.330045
9,9,9,"Sidelined for Months, Judiciary Panel Will Rec...",The House Judiciary Committee had been leading...,"This spring, as President Trump defiantly reje...",2019-12-01,2020-05-15,0,"[3182, 852, 1523, 2955]",10,14.235295
10,10,10,How Much Do You Know About Nepal?,Can you find Nepal on a map? What else do you ...,Can you find Nepal on a map? What else do you ...,2019-12-02,2019-12-02,1,[],11,9.773669
11,11,11,Oshkosh Shooting Is Second in 2 Days at Wiscon...,A student with an “edged weapon” was shot by a...,"For the second time in two days in Wisconsin, ...",2019-12-03,2019-12-03,0,3021,12,6.285214
12,12,12,The Overlooked Undocumented Immigrants: From I...,President Trump has focused on blocking unauth...,"SUNNYVALE, Calif. — Eddie Oh, an industrial en...",2019-12-01,2020-04-04,0,"[1283, 2521, 3245, 1155, 1867]",13,10.027254
13,13,13,We No Longer Expect Privacy. You Can Change That.,Here’s a way for you to make a difference.,"Since the start of the Privacy Project, the mo...",2019-12-03,2019-12-03,0,"[1615, 892, 1745, 3190, 2604]",14,5.491038
14,14,14,"Uighurs, China Trade, NATO: Your Wednesday Bri...",Here’s what you need to know.,(Want to get this briefing by email? Here’s th...,2019-02-27,2019-02-27,0,[],15,15.049830
15,15,15,Did an Ethics Commission Leak Private Informat...,"An alleged leak to Mr. Cuomo, a phone call fro...",The text messages arrived on a snowy January a...,2019-12-02,2019-12-02,0,"[3328, 1436, 3418]",16,4.320551
16,16,16,Iran Used Firearms in Deadly Crackdown on Prot...,The government said security forces had fought...,Two weeks after protests gripped Iran — and qu...,2019-12-03,2019-12-03,0,"[1436, 1144, 2911, 822]","[17, 18]",10.099026
17,17,17,How Black Voters Could Help Biden Win the Demo...,An overwhelming majority of delegates are at s...,An overwhelming majority of delegates are at s...,2019-12-02,2020-06-20,1,"[2955, 1953]","[19, 20]",11.200468
18,18,18,"Lil Bub, Pioneer in Internet-Famous Cats, Dies...","The cat, with a droopy-tongued face that endea...","Lil Bub, the perma-kitten whose droopy tongue ...",2018-12-11,2018-12-11,0,"[1202, 358, 1745]",21,2.836851
19,19,19,The One Assignment for Everyone at The Times: ...,Employees from across the company have long he...,Times Insider explains who we are and what we ...,2019-12-03,2019-12-03,0,307,11,7.791530
20,20,20,How Much Do You Know About Nepal?,Can you find Nepal on a map? What else do you ...,Can you find Nepal on a map? What else do you ...,2019-12-02,2019-12-02,1,[],11,8.853498
21,21,21,"Uighurs, China Trade, NATO: Your Wednesday Bri...",Here’s what you need to know.,(Want to get this briefing by email? Here’s th...,2019-12-03,2019-12-03,0,[],15,19.050687
22,22,22,Did an Ethics Commission Leak Private Informat...,"An alleged leak to Mr. Cuomo, a phone call fro...",The text messages arrived on a snowy January a...,2019-12-02,2019-12-02,0,"[3328, 1436, 3418]",16,5.070204
23,23,23,How Black Voters Could Help Biden Win the Demo...,An overwhelming majority of delegates are at s...,An overwhelming majority of delegates are at s...,2019-12-02,2019-12-02,1,"[2955, 1953]","[19, 20]",8.791228
24,24,24,Cory Booker Bets $100 Billion on Historically ...,The senator unveiled a broad plan at a decisiv...,Senator Cory Booker of New Jersey on Tuesday p...,2019-01-24,2019-12-03,0,"[2955, 1953, 717, 1755, 2828]",22,5.501216
25,25,25,Trump Says U.S. Will Impose Metal Tariffs on B...,"The president, in a move that would shatter pr...",WASHINGTON — President Trump said on Monday th...,2018-12-29,2019-12-02,0,"[886, 192, 1338, 7, 2077, 1754, 1764]",23,7.706713
26,26,26,"Shelley Morrison, ‘Will & Grace’ Actress, Dies...",Ms. Morrison’s portrayal of the memorable maid...,"Shelley Morrison, whose 64-year acting career ...",2019-12-02,2019-12-02,0,"[3045, 764, 3446]",21,2.606735
27,27,27,White House Lifts Mysterious Hold on Military ...,The Trump administration will allow the $105 m...,WASHINGTON — The Trump administration told Con...,2019-12-03,2019-12-03,0,"[2635, 3185, 3182, 192]","[24, 25]",8.236636
28,28,28,London Bridge Attack Victims Were Advocates fo...,"Saskia Jones and Jack Merritt, who were killed...","LONDON — They were two bright, idealistic youn...",2019-01-07,2019-01-07,0,"[2590, 1315, 3315, 1933, 2555]",18,3.271995
29,29,29,"Dead Whale, 220 Pounds of Debris Inside, Is a ...",The sperm whale washed up on a Scottish beach ...,A dead sperm whale that washed up on a Scottis...,2019-12-02,2019-12-02,0,"[66, 3036, 3308]",26,7.153416
...,...,...,...,...,...,...,...,...,...,...,...
65866,65866,65866,Michigan Sheriff Took Off His Helmet and March...,Sheriff Christopher R. Swanson of Genesee Coun...,Sheriff Christopher R. Swanson of Genesee Coun...,2020-06-01,2020-06-01,0,"[1125, 2212, 1144]",105,4.060120
65867,65867,65867,Corporate Voices Get Behind ‘Black Lives Matte...,"Major companies are often wary of conflict, es...",As tensions flared around the country after Ge...,2020-05-31,2020-05-31,0,"[2706, 238, 358, 3277, 1125, 1545, 2250]",588,7.395607
65868,65868,65868,8 Minutes and 46 Seconds: How George Floyd Was...,The Times has reconstructed the death of Georg...,The Times has reconstructed the death of Georg...,2019-06-09,2020-03-25,1,"[1125, 2212, 2706, 327]","[40, 1049, 39, 1249, 900, 1767]",5.524702
65869,65869,65869,Target Temporarily Closing or Shortening Hours...,The company said it acted to ensure employees’...,Target is temporarily closing or shortening th...,2019-07-07,2019-07-07,0,"[1144, 1125, 2681, 3231]",1098,6.286709
65870,65870,65870,Mexico’s President Says Most Domestic Violence...,The leader compared the requests for help to p...,"The numbers were startling: In March, Mexico’s...",2019-10-23,2019-10-23,0,"[2711, 792, 3073, 790]",718,8.583339
65871,65871,65871,Astronauts Dock With Space Station After Histo...,Bob Behnken and Doug Hurley could stay in orbi...,The Crew Dragon has arrived.,2019-07-06,2020-01-10,0,"[2717, 2289, 55]",237,2.547407
65872,65872,65872,Alicia Silverstone Wants Us to Eat Our Fruits ...,From ’90s “It” girl to animal-rights advocate ...,“There were people in my life at onetime that ...,2020-05-31,2020-05-31,0,"[764, 3201, 2763, 2861, 1499]",537,2.987645
65873,65873,65873,A Hand on Your Shoulder,Erik Agard starts off our solving week with a ...,MONDAY PUZZLE — It’s not unusual to wake up on...,2020-01-12,2020-05-31,0,271,147,5.872752
65874,65874,65874,Building a New Sanctuary on Long Island for Cu...,"In Sag Harbor, April Gornik and Eric Fischl ar...",This article is part of our latest Design spec...,2020-05-31,2020-05-31,0,"[2630, 379, 287]",5936,5.995293
65875,65875,65875,Western Countries Leave Children of ISIS in Sy...,The children are living in squalid detention c...,"BEIRUT, Lebanon — As about 900 children langui...",2019-06-19,2020-05-31,0,"[2998, 1315, 1436, 1347, 3073]","[1044, 1448]",5.083679
65876,65876,65876,Your Décor Is Ready for Checkout,The pandemic is pushing interior design consul...,This article is part of our latest Design spec...,2019-06-07,2020-05-31,0,"[190, 306, 1218, 2681, 1858, 2480, 1063]",128,5.354673
65877,65877,65877,Sing Duets Over the Internet,"Even if you’re not a pro, you can still record...",People love singing together at the best of ti...,2020-05-31,2020-05-31,0,"[1858, 1954, 770]",249,1.856036
65878,65878,65878,Symbol of N.Y.C. Unrest: A Burning Police Car,"So far, 47 police vehicles have been damaged. ...",On Friday night in the Fort Greene section of ...,2019-08-17,2019-08-17,0,"[1144, 1125, 2379, 2706, 1960]","[71, 212]",7.367145
65879,65879,65879,The Drive-In Theater: Keeping Drama Alive Duri...,Czech theater companies couldn’t perform onsta...,"Patrick Kingsley, an international corresponde...",2020-05-31,2020-05-31,0,"[566, 334, 983]","[540, 541]",6.546952
65880,65880,65880,These Times Call for Stephen Petronio’s Coiled...,The choreographer took to YouTube to present “...,"Oh, the thrill of a world premiere by a major ...",2020-02-19,2020-02-19,0,276,503,4.579687
65881,65881,65881,"In Seeking to Hold Michigan, Trump Can Be His ...",The state provides a case study in how the pre...,WASHINGTON — A day before his visit in May to ...,2019-03-06,2019-03-06,0,"[2955, 3182, 2943, 725, 566, 334]","[135, 3346]",8.310310
65882,65882,65882,Truck Driver Arrested After Barreling Through ...,"The authorities said no one had been struck, b...",MINNEAPOLIS — A man drove a tanker truck towar...,2020-06-01,2020-06-01,0,1144,"[713, 522]",6.128454
65883,65883,65883,Police Clear Protesters From Union Square in N...,"In a third day of demonstrations, protesters b...","In a third day of demonstrations, protesters b...",2020-05-31,2020-05-31,1,1144,"[1341, 547]",3.964944
65884,65884,65884,Symbol of N.Y.C. Unrest: A Burning Police Car,"So far, 47 police vehicles have been damaged. ...",On Friday night in the Fort Greene section of ...,2019-09-14,2019-09-14,0,"[1144, 1125, 2379, 2706, 1960]","[71, 212]",6.621529
65885,65885,65885,Your Monday Briefing,"U.S. protests, Hong Kong, SpaceX: Here’s what ...",Cities across the U.S. were smoldering on Sund...,2020-04-09,2020-05-31,0,[],3075,13.591412
65886,65886,65886,Two Crises Convulse a Nation: A Pandemic and P...,Emotions were already raw over the toll of a p...,They are parallel plagues ravaging America: Th...,2019-08-20,2020-02-25,0,"[2212, 566, 238, 2706]","[1184, 2756]",7.850093
65887,65887,65887,"In Hong Kong, China Threatens Businesses and W...",Beijing is using fear and pressure to drum up ...,HONG KONG — China and its allies are using thr...,2020-05-31,2020-05-31,0,"[1436, 2184, 246, 1144, 2893, 1767, 2408, 878]",2,6.559553
65888,65888,65888,Tara Reade’s Tumultuous Journey to the 2020 Ca...,"To better understand Ms. Reade, who accused Jo...","Last spring, after years of strife with friend...",2020-05-31,2020-05-31,0,"[2569, 2955, 220, 2850, 941]","[3921, 654, 51]",7.613381
65889,65889,65889,A Village Ignored by the Coronavirus,"Far from Covid-19 hot spots, my neighbors and ...","VIALAS, France — I’m spending the coronavirus ...",2020-06-01,2020-06-01,0,"[566, 334]",3081,4.196690
65890,65890,65890,What Trump and Toxic Cops Have in Common,It’s us versus them.,"In his first Inaugural Address, and hopefully ...",2019-08-23,2019-08-23,0,"[2955, 1125, 1144]",2126,5.474860
65891,65891,65891,"Grateful for Aid, but Worried About What Comes...",Six small-business owners who got government l...,"The Paycheck Protection Program, the federal g...",2020-05-31,2020-05-31,0,"[2943, 1925, 1272, 566, 780, 3231, 2829, 1764]",84,8.614457
65892,65892,65892,Two Lawyers Arrested in Molotov Cocktail Attac...,A Princeton graduate and a human rights lawyer...,Two lawyers were charged with taking part in a...,2019-12-21,2019-12-21,0,"[1144, 2379]","[374, 578]",6.259434
65893,65893,65893,"Despite Warnings, Races Continue at a N. Carol...","At the direction of Gov. Roy Cooper, a county ...",A card with at least seven races and qualifyin...,2020-05-31,2020-05-31,0,887,284,3.240799
65894,65894,65894,"Herb Stempel, Quiz Show Whistle-Blower, Is Dea...",After being instructed to give a wrong answer ...,"In the isolation booth, Herb Stempel bit his l...",2020-02-17,2020-05-31,0,"[3045, 3446, 888, 3349]",615,4.455129
65895,65895,65895,"Christo, Artist Who Wrapped and Festooned on a...","Mountains, museums, bridges and Central Park w...","Christo, the Bulgarian-born conceptual artist ...",2020-05-31,2020-05-31,0,"[379, 3045]",80,7.269118